In [5]:
#import dependencies
import pandas as pd
import numpy as np

In [6]:
#Import Data
chicago_df = pd.read_excel("Resources/chicago_case_schiller.xlsx")
national_df = pd.read_excel("Resources/national_case_schiller.xlsx")
interest_df = pd.read_excel("Resources/Mortgage_Rate_National.xlsx")
cookunemployment = pd.read_excel("Resources/Cook_County_Unemployment.xlsx")
nationalunemployment = pd.read_excel("Resources/National_unemployment.xlsx")

#Clean and merge data together
interest_df['Year'] = pd.DatetimeIndex(interest_df['Date']).year
interest_df['Month'] = pd.DatetimeIndex(interest_df['Date']).month
interest_df = interest_df[["Date", "Year", "Month", "Mortgage Interest Rate"]]
interest_df = interest_df.groupby(['Year','Month']).mean()

house_price_index = chicago_df.merge(national_df, how='inner', on='Date')
house_price_index['Year'] = pd.DatetimeIndex(house_price_index['Date']).year
house_price_index['Month'] = pd.DatetimeIndex(house_price_index['Date']).month
house_price_index = house_price_index[["Date","Month", "Year", "Chicago Home Price Index", "National Home Price Index"]]

unemployment= cookunemployment.merge(nationalunemployment, how='inner', on='Date')
unemployment['Year'] = pd.DatetimeIndex(unemployment['Date']).year
unemployment['Month'] = pd.DatetimeIndex(unemployment['Date']).month
unemployment = unemployment[["Date","Month", "Year", "National Unemployment Rate", "Cook County Unemployment Rate"]]

priceunemploymentdf = house_price_index.merge(unemployment, how='inner', on=['Date', 'Month', 'Year'])

priceunemploymentdf = priceunemploymentdf[["Year", "Month", "Chicago Home Price Index", "National Home Price Index", "National Unemployment Rate", "Cook County Unemployment Rate"]]

merged_df = priceunemploymentdf.merge(interest_df, how='inner', on=['Year', 'Month'])

In [7]:
merged_df

,Year,Month,Chicago Home Price Index,National Home Price Index,National Unemployment Rate,Cook County Unemployment Rate,Mortgage Interest Rate
0,1990,1,69.355887,76.897,5.4,7.6,9.8950
1,1990,2,68.700554,77.053,5.3,7.2,10.1975
2,1990,3,68.904077,77.200,5.2,7.0,10.2680
3,1990,4,69.475721,77.277,5.4,7.4,10.3700
4,1990,5,69.995388,77.297,5.4,7.0,10.4775
...,...,...,...,...,...,...,...
371,2020,12,155.457127,235.568,6.7,9.4,2.6840
372,2021,1,156.633251,238.555,6.3,9.8,2.7350
373,2021,2,157.326126,241.624,6.2,9.5,2.8100
374,2021,3,158.730817,245.303,6.0,8.4,3.0825
375,2021,4,160.260906,249.166,6.1,8.7,3.0600

In [8]:
cleaned_df = pd.read_excel("Resources/cleanbaseline.xlsx")
cleaned_df

,Unnamed: 0,Year,Month,Chicago Home Price Index,National Home Price Index,National Unemployment Rate,Cook County Unemployment Rate,Mortgage Interest Rate
0,0,1990,1,69.355887,76.897,5.4,7.6,9.8950
1,1,1990,2,68.700554,77.053,5.3,7.2,10.1975
2,2,1990,3,68.904077,77.200,5.2,7.0,10.2680
3,3,1990,4,69.475721,77.277,5.4,7.4,10.3700
4,4,1990,5,69.995388,77.297,5.4,7.0,10.4775
...,...,...,...,...,...,...,...,...
371,371,2020,12,155.457127,235.568,6.7,9.4,2.6840
372,372,2021,1,156.633251,238.555,6.3,9.8,2.7350
373,373,2021,2,157.326126,241.624,6.2,9.5,2.8100
374,374,2021,3,158.730817,245.303,6.0,8.4,3.0825
375,375,2021,4,160.260906,249.166,6.1,8.7,3.0600

In [9]:
#grouping by year to find summary stats 
grouped_year = cleaned_df.groupby(['Year'])
grouped_year.head()

,Unnamed: 0,Year,Month,Chicago Home Price Index,National Home Price Index,National Unemployment Rate,Cook County Unemployment Rate,Mortgage Interest Rate
0,0,1990,1,69.355887,76.897,5.4,7.6,9.8950
1,1,1990,2,68.700554,77.053,5.3,7.2,10.1975
2,2,1990,3,68.904077,77.200,5.2,7.0,10.2680
3,3,1990,4,69.475721,77.277,5.4,7.4,10.3700
4,4,1990,5,69.995388,77.297,5.4,7.0,10.4775
...,...,...,...,...,...,...,...,...
364,364,2020,5,146.087329,217.838,13.3,16.8,3.2325
372,372,2021,1,156.633251,238.555,6.3,9.8,2.7350
373,373,2021,2,157.326126,241.624,6.2,9.5,2.8100
374,374,2021,3,158.730817,245.303,6.0,8.4,3.0825
375,375,2021,4,160.260906,249.166,6.1,8.7,3.0600

In [10]:
#Creating a summary table grouped by year
Chicago_HPI_mean = grouped_year["Chicago Home Price Index"].mean()
Chicago_HPI_median = grouped_year["Chicago Home Price Index"].median()
Chicago_HPI_variance = grouped_year["Chicago Home Price Index"].var()
Chicago_HPI_std = grouped_year["Chicago Home Price Index"].std()
Chicago_HPI_SEM = grouped_year["Chicago Home Price Index"].sem()
# Assemble the resulting series into a single summary dataframe.
summary_year = pd.DataFrame({"Chicago HPI Mean":Chicago_HPI_mean,
             "Chicago HPI Median":Chicago_HPI_median,
             "Chicago HPI Variance":Chicago_HPI_variance,
             "Chicago HPI Standard Deviation":Chicago_HPI_std,
             "Chicago HPI SEM":Chicago_HPI_SEM})
summary_year.head(32)

,Chicago HPI Mean,Chicago HPI Median,Chicago HPI Variance,Chicago HPI Standard Deviation,Chicago HPI SEM
Year,,,,,
1990,70.108448,70.415354,0.652329,0.807669,0.233154
1991,71.645060,71.489430,0.417517,0.646155,0.186529
1992,74.519186,74.515961,0.989998,0.994987,0.287228
1993,77.265016,77.421023,1.039274,1.019448,0.294289
1994,80.814441,80.637620,0.411458,0.641450,0.185171
1995,82.852594,82.681882,0.501327,0.708045,0.204395
1996,85.141397,85.192918,0.633000,0.795613,0.229674
1997,87.496707,87.073647,0.905239,0.951440,0.274657
1998,91.514367,91.685210,0.735694,0.857726,0.247604
1999,96.354821,96.473701,5.685417,2.384411,0.688320
2000,104.956584,105.770251,6.204693,2.490922,0.719067
2001,113.447075,113.713548,8.802560,2.966911,0.856473
2002,121.615631,121.456485,8.334970,2.887035,0.833415
2003,131.714450,131.360818,8.825517,2.970777,0.857589
2004,142.885084,142.773593,11.787014,3.433222,0.991086
2005,156.339651,156.314125,13.190995,3.631941,1.048451
2006,166.654736,166.534851,0.923861,0.961177,0.277468
2007,164.950866,165.311999,17.369951,4.167727,1.203119
2008,148.410473,148.752822,46.347434,6.807895,1.965270
2009,127.357481,127.228981,3.970338,1.992571,0.575206
2010,122.675384,123.580676,8.867551,2.977843,0.859629
2011,114.365370,114.368696,3.839847,1.959553,0.565674
2012,111.150195,112.287271,5.546868,2.355179,0.679882
2013,120.559115,120.911911,21.634424,4.651282,1.342709
2014,127.744271,127.802000,0.363625,0.603013,0.174075
2015,130.140570,130.080031,0.436334,0.660556,0.190686
2016,133.805255,133.875496,1.845396,1.358454,0.392152
2017,138.698024,138.371208,0.588783,0.767322,0.221507
2018,142.457195,142.027442,1.207289,1.098767,0.317187
2019,144.276402,144.160136,0.146738,0.383064,0.110581
2020,148.357520,146.331893,14.759290,3.841782,1.109027
2021,158.237775,158.028472,2.580584,1.606420,0.803210