In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#Import Data
msp = pd.read_csv("Resources/Median Sale Price.csv")
mlp = pd.read_csv("Resources/Median List Price.csv")
inventory = pd.read_csv("Resources/Inventory.csv")
units = pd.read_csv("Resources/Sold Units.csv")

In [3]:
msp

,RegionID,SizeRank,RegionName,RegionType,StateName,4/30/2008,5/31/2008,6/30/2008,7/31/2008,8/31/2008,...,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021
0,102001,0,United States,Country,NaN,194333.0,195833.0,197500.0,199167.0,200000.0,...,281225,286392,288392,290333,290500,288833,288333,292667,302667,313049
1,394913,1,"New York, NY",Msa,NY,NaN,NaN,NaN,NaN,NaN,...,452667,456000,463000,468667,472000,472000,471667,474667,483000,496333
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,503333.0,496333.0,491333.0,483000.0,470000.0,...,711667,728333,736667,736667,733333,728333,735000,750333,775333,802000
3,394463,3,"Chicago, IL",Msa,IL,250583.0,251833.0,255167.0,258667.0,260667.0,...,263333,266667,268333,265000,263333,257667,256000,259333,268333,281667
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,150167.0,153617.0,155783.0,158450.0,159229.0,...,296633,299467,299467,299500,300000,298000,301333,308000,320333,334000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,394711,92,"Jackson, MS",Msa,MS,131817.0,135167.0,137167.0,143667.0,147167.0,...,219833,217417,216833,221650,222967,219800,214983,216667,216667,223250
93,394352,94,"Augusta, GA",Msa,GA,126033.0,130517.0,133767.0,139467.0,140517.0,...,207614,206467,204133,207767,207167,204496,202496,206496,214000,222000
94,394666,96,"Harrisburg, PA",Msa,PA,158967.0,159133.0,162500.0,164300.0,167600.0,...,209854,211538,205283,205633,203967,201333,193917,196250,202250,214333
95,395006,100,"Provo, UT",Msa,UT,216650.0,219317.0,218633.0,215983.0,216649.0,...,363285,366783,370498,373498,380250,385917,391250,399000,417812,436146
96,394602,159,"Fort Collins, CO",Msa,CO,228167.0,226500.0,224000.0,221633.0,220933.0,...,411071,421733,430566,426418,416852,417186,423773,435503,437328,449888

In [8]:
msp = msp.loc[msp["RegionName"] == "Chicago, IL"]
mlp = mlp.loc[mlp["RegionName"] == "Chicago, IL"]
inventory = inventory.loc[inventory["RegionName"] == "Chicago, IL"]
units = units.loc[units["RegionName"] == "Chicago, IL"]

In [9]:
mlp

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,...,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021
3,394463,3,"Chicago, IL",Msa,IL,301000.0,305967.0,319300.0,335967.0,345967.0,...,349967.0,349667.0,346000.0,340300.0,332300.0,332633.0,338300.0,346633.0,353267.0,354967.0

In [10]:
msp

,RegionID,SizeRank,RegionName,RegionType,StateName,4/30/2008,5/31/2008,6/30/2008,7/31/2008,8/31/2008,...,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021
3,394463,3,"Chicago, IL",Msa,IL,250583.0,251833.0,255167.0,258667.0,260667.0,...,263333,266667,268333,265000,263333,257667,256000,259333,268333,281667

In [11]:
inventory

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,...,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021
3,394463,3,"Chicago, IL",Msa,IL,42861,41185,44820,49383,53931,...,50929.0,49661.0,46457.0,41614,37007.0,33328.0,32918.0,33253.0,35728.0,37875.0

In [12]:
units

,RegionID,SizeRank,RegionName,RegionType,StateName,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,...,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021
3,394463,3,"Chicago, IL",Msa,IL,4856.0,5845.0,6572.0,6612.0,7722.0,...,14691,18313,15376,14148,11786,10374,12592,15340,16418,18204.0