In [2]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from sklearn.model_selection import ShuffleSplit

# Pretty display for notebooks
%matplotlib inline

# Load the Boston housing dataset
data = pd.read_csv('ChicagoRealEstate.csv')
#prices = data['MEDV']
#features = data.drop('MEDV', axis = 1)
data.head()

,Unnamed: 0,Year,Month,Chicago Home Price Index,National Home Price Index,National Unemployment Rate,Cook County Unemployment Rate,Mortgage Interest Rate
0,0,1990,1,69.355887,76.897,5.4,7.6,9.8950
1,1,1990,2,68.700554,77.053,5.3,7.2,10.1975
2,2,1990,3,68.904077,77.200,5.2,7.0,10.2680
3,3,1990,4,69.475721,77.277,5.4,7.4,10.3700
4,4,1990,5,69.995388,77.297,5.4,7.0,10.4775

In [3]:
clean_df = data.set_index('Year')
clean_df

,Unnamed: 0,Month,Chicago Home Price Index,National Home Price Index,National Unemployment Rate,Cook County Unemployment Rate,Mortgage Interest Rate
Year,,,,,,,
1990,0,1,69.355887,76.897,5.4,7.6,9.8950
1990,1,2,68.700554,77.053,5.3,7.2,10.1975
1990,2,3,68.904077,77.200,5.2,7.0,10.2680
1990,3,4,69.475721,77.277,5.4,7.4,10.3700
1990,4,5,69.995388,77.297,5.4,7.0,10.4775
...,...,...,...,...,...,...,...
2020,371,12,155.457127,235.568,6.7,9.4,2.6840
2021,372,1,156.633251,238.555,6.3,9.8,2.7350
2021,373,2,157.326126,241.624,6.2,9.5,2.8100
2021,374,3,158.730817,245.303,6.0,8.4,3.0825
2021,375,4,160.260906,249.166,6.1,8.7,3.0600